<div class="col-lg-4 col-md-6 text-center {{category}}">
    <div class="single-product-item">
        <div class="product-image">
            <a href="/shop/{{id}}"><img src="{{image}}" alt=""></a>
        </div>
        <h3>{{name}}</h3>
        <p class="product-price"><span></span> {{price}}$ </p>
        <!-- <a href="/cart/{{id}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
    </div>
</div>