<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <form action="/shop" method="GET">
                            <label for="category">Category</label>
                            <select name="category_id" id="category" class="form-control"
                                style="display: inline; width: 100px;">
                                <option value="all">All</option>
                                {{#each categories}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                            <label for="min">Price</label>
                            <input type="number" name="min" id="min" value="0" style="padding: 4px;" onchange="document.getElementById('max').min = this.value;">
                            <label for="max">to</label>
                            <input type="number" name="max" id="max" value="1000" style="padding: 4px;" onchange="document.getElementById('min').max = this.value;">
                            <label for="sort">Sort by</label>
                            <select name="sort" id="sort" class="form-control" style="display: inline; width: 100px;">
                                <option value="price">Price</option>
                                <option value="name">Name</option>
                            </select>
                            <label for="order">Order</label>
                            <select name="order" id="order" class="form-control" style="display: inline; width: 150px;">
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                            <label for="name">Filter</label>
                            <input type="text" name="name" id="name" placeholder="Search" class="form-control"
                                style="display: inline; width: 200px;">
                            <input type="submit" value="Filter" class="btn btn-primary"
                                style="border-radius: .25rem !important; padding: 5.75px 75px;">
                            <input type="reset" value="Reset" class="btn btn-danger">
                        </form>
                    </ul>
                </div>
            </div>
        </div>

        <script>
            // fill in the form with the query string
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var category = urlParams.get('category_id');
            var min = urlParams.get('min');
            var max = urlParams.get('max');
            var sort = urlParams.get('sort');
            var order = urlParams.get('order');
            var search = urlParams.get('name');

            console.log(category);
            console.log(min);
            console.log(max);
            console.log(sort);
            console.log(order);
            console.log(search);

            if (category) {
                document.getElementById('category').value = category;
            }
            if (min) {
                document.getElementById('min').value = min;
            }
            if (max) {
                document.getElementById('max').value = max;
            }
            if (sort) {
                document.getElementById('sort').value = sort;
            }
            if (order) {
                document.getElementById('order').value = order;
            }
            if (search) {
                document.getElementById('name').value = search;
            }
        </script>

        <div class="row product-lists">
            {{#if products.rows.length}}
            {{#each products.rows}}
            <div class="col-lg-4 col-md-6 text-center {{category}}">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="/shop/{{id}}"><img src="{{image}}" alt=""></a>
                    </div>
                    <h3>{{name}}</h3>
                    <p class="product-price"><span></span> {{price}}$ </p>
                    <!-- <a href="/cart/{{id}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a> -->
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="col-lg-12 text-center">
                <h1>No products found</h1>
            </div>
            {{/if}}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <h1>{{products.count}}</h1>
                        <script>
                            // pagination
                            var queryString = window.location.search;
                            var urlParams = new URLSearchParams(queryString);
                            var count = {{ products.count }};
                            var limit = 3;
                            var pages = Math.ceil(count / limit);
                            var page = urlParams.get('page');
                            if (!page) {
                                urlParams.set('page', 1);
                                page = 1;
                            }
                            urlParams.delete('page');
                            var pagination = '';
                            var res = urlParams.toString();
                            for (var i = 1; i <= pages; i++) {
                                if (i == page) {
                                    pagination += '<li><a href="/shop?' + res + '" class="active">' + i + '</a></li>';
                                } else {
                                    pagination += '<li><a href="/shop?' + res + '&page=' + i + '">' + i + '</a></li>';
                                }
                            }
                            document.write(pagination);
                        </script>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->