<!-- check out section -->
<div class="checkout-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="checkout-accordion-wrap">
                    <div class="accordion" id="accordionExample">
                        <div class="card single-accordion">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Shipping Address
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="billing-address-form">
                                        <form id="checkout-form" onsubmit="placeOrder();return false;">
                                            <p><input type="email" placeholder="Email" id="email" required></p>
                                            <p><input type="text" placeholder="Address" id="address" required></p>
                                            <p><input type="tel" placeholder="Phone" id="phone" required></p>
                                            <p><textarea name="note" id="note" cols="30" rows="10"
                                                    placeholder="Say Something"></textarea></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--
                        <div class="card single-accordion">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Shipping Address
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="shipping-address-form">
                                        <p>Your shipping address form is here.</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="card single-accordion">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Card Details
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="card-details">
                                        <p>Your card details goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="order-details-wrap">
                    <table class="order-details">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody class="order-details-body">
                            {{#each cart.CartItems}}
                            <tr>
                                <td class="product-id" style="display: none;">{{Product.id}}</td>
                                <td style="text-align: center;">{{Product.name}}</td>
                                <td style="text-align: center;">{{Product.price}}</td>
                                <td style="text-align: center;">{{quantity}}</td>
                                <td style="text-align: center;">{{total}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tbody class="checkout-details">
                            <tr>
                                <td style="text-align: center;">Total</td>
                                <td colspan="3" style="text-align: center;">{{cart.total}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" form="checkout-form" type="submit">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end check out section -->


<script>
    function placeOrder() {
        console.log("order");
        let items = [];
        $(".product-id").each(function () {
            items.push($(this).text());
        });
        if(items.length == 0) {
            alert("Cart is empty");
            return;
        }
        console.log(items);
        $.ajax({
            url: "/order",
            type: "POST",
            data: {
                items: items,
                email: $("#email").val(),
                address: $("#address").val(),
                phone: $("#phone").val(),
                note: $("#note").val()

            },
            success: function (data) {
                console.log(data);
                window.location.href = "/order/";
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        $("#email").val("{{user.email}}");
    });
</script>